body{font-family:arial;background-color:#blue;margin: 0;}
header{background-color: teal;color;white; text-align:centre ;padding:10px;}
nav{background-color:lightgray;text-align:centre;padding:20px;}
footer{background-color:teal;color:white;text-align:center;padding:15px;}
section{padding:20px;text-align:centre;}
button{background-color:teal;color:white;padding:10px;}
img{margin:20px;text-align:centre;}